div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-md-6
      .btn.btn-default(ng-click='socketConnect()') Conectar
    .col-md-6
      .btn.btn-default(ng-click='socketDisconnect()') Desconectar
    .col-md-6
      .btn.btn-default(ng-click='sendMessage()') Mensaje
    .col-md-6 
      .btn.btn-default Estado A: {{socketState}}
    .col-md-12
      form.form-horizontal
        .form-group
          label.control-label.col-sm-1(for='inputName') Name
          .col-sm-4
            input#inputName.form-control(type='text', placeholder='Motor Velocity')
          label.control-label.col-sm-1(for='inputPort') Port
          .col-sm-4
            input#inputPort.form-control(type='text', placeholder='localhost:3421')
          .col-sm-2
            button.btn.btn-primary(type='submit') Add
  hr
  .row
    .col-md-12
      socket-connection-basic(name='Temperatura', port='1111', data='1122')
    .col-md-12
      socket-connection-basic(name='Distancia', port='2222', data='1122')
    .col-md-12
      socket-connection-basic(name='Distancia', port='2222', data='1122')
    .col-md-12
      socket-connection-basic(name='Medicion', port='1312123', data='414141jfdfsfsf')
