div.navbar.navbar-default.navbar-fixed-top(ng-controller='NavbarCtrl')
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Subacuático

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
          a(ng-href='{{item.link}}') {{item.title}}
        li(ng-repeat='(key, page) in pages', ng-class='{active: isActive("/page/"+key)}')
          a(ng-href='{{"/page/"+key}}') {{page.title}}
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') {{socketState}}
        li.dropdown(dropdown)
          a(href='#', dropdown-toggle, role='button')
            span.glyphicon.glyphicon-cog
          ul(role='menu').dropdown-menu
            li
              a(href="", ng-click='socketConnect()') Conectar
            li
              a(href="", ng-click='socketDisconnect()') Deconectar
            li.divider
            li
              a(href="#") Ayuda